.button {
  font-size: 16px;
  display: block;
  box-sizing: content-box;
  background-color: #42622D;
  line-height: 1;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}