.project-block {
  background-color: #2D4262;
  color: white;
  display: flex;
  border-radius: 5px;
}

.project-block__image {
  border-radius: 5px;
}

.project-block__content-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-block__link {
  color: inherit;
  text-decoration: none;
}

.project-block__description {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.project-block__type-project {
  overflow: hidden;
  flex-grow: 1;
}

.project-block__bottom-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-block--best-projects .project-block__image-wrapper {
  margin: 10px;
  height: 350px;
}
.project-block--best-projects .project-block__image {
  width: 280px;
  height: 350px;
}
.project-block--best-projects .project-block__content-wrapper {
  margin: 10px;
  max-height: 350px;
}
.project-block--best-projects .project-block__name {
  margin: 14px 0 10px;
  font-size: 24px;
}
.project-block--best-projects .project-block__description {
  font-size: 16px;
  line-height: 28px;
}
.project-block--best-projects .project-block__type-project {
  margin: 20px 0;
  max-height: 90px;
  font-size: 16px;
}
.project-block--best-projects .project-block__button {
  font-size: 16px;
  padding: 10px 60px;
}
.project-block--best-projects .project-block__rating {
  font-size: 22px;
}
.project-block--best-projects .project-block__rating .rating__num-reviews {
  font-size: 16px;
}
@media (max-width: 1100px) {
  .project-block--best-projects .project-block__image-wrapper {
    margin: 8px;
    height: 325px;
  }
  .project-block--best-projects .project-block__image {
    width: 260px;
    height: 325px;
  }
  .project-block--best-projects .project-block__content-wrapper {
    margin: 8px;
    max-height: 325px;
  }
  .project-block--best-projects .project-block__name {
    margin: 12px 0 8px;
    font-size: 20px;
  }
  .project-block--best-projects .project-block__description {
    font-size: 15px;
    line-height: 24px;
  }
  .project-block--best-projects .project-block__type-project {
    margin: 15px 0;
    max-height: 90px;
    font-size: 16px;
  }
  .project-block--best-projects .project-block__button {
    font-size: 15px;
    padding: 10px 40px;
  }
  .project-block--best-projects .project-block__rating {
    font-size: 18px;
  }
  .project-block--best-projects .project-block__rating .rating__num-reviews {
    font-size: 14px;
  }
}

.project-block--projects .project-block__image-wrapper {
  margin: 8px;
  height: 325px;
}
.project-block--projects .project-block__image {
  width: 260px;
  height: 325px;
}
.project-block--projects .project-block__content-wrapper {
  margin: 8px;
  max-height: 325px;
}
.project-block--projects .project-block__name {
  margin: 12px 0 8px;
  font-size: 20px;
}
.project-block--projects .project-block__description {
  font-size: 15px;
  line-height: 24px;
}
.project-block--projects .project-block__type-project {
  margin: 15px 0;
  max-height: 90px;
  font-size: 16px;
}
.project-block--projects .project-block__button {
  font-size: 15px;
  padding: 10px 40px;
}
.project-block--projects .project-block__rating {
  font-size: 18px;
}
.project-block--projects .project-block__rating .rating__num-reviews {
  font-size: 14px;
}

@media (max-width: 900px) {
  .project-block--projects .project-block__image-wrapper,
.project-block--best-projects .project-block__image-wrapper {
    margin: 8px;
    height: 275px;
  }
  .project-block--projects .project-block__image,
.project-block--best-projects .project-block__image {
    width: 220px;
    height: 275px;
  }
  .project-block--projects .project-block__content-wrapper,
.project-block--best-projects .project-block__content-wrapper {
    margin: 8px;
    max-height: 275px;
  }
  .project-block--projects .project-block__name,
.project-block--best-projects .project-block__name {
    margin: 10px 0 12px;
    font-size: 18px;
  }
  .project-block--projects .project-block__description,
.project-block--best-projects .project-block__description {
    font-size: 14px;
    line-height: 20px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .project-block--projects .project-block__type-project,
.project-block--best-projects .project-block__type-project {
    margin: 12px 0;
    font-size: 14px;
  }
  .project-block--projects .project-block__button,
.project-block--best-projects .project-block__button {
    font-size: 14px;
    padding: 10px 30px;
  }
}
@media (max-width: 700px) {
  .project-block--projects .project-block__image-wrapper,
.project-block--best-projects .project-block__image-wrapper {
    margin: 5px;
    height: 240px;
  }
  .project-block--projects .project-block__image,
.project-block--best-projects .project-block__image {
    width: 192px;
    height: 240px;
  }
  .project-block--projects .project-block__content-wrapper,
.project-block--best-projects .project-block__content-wrapper {
    margin: 5px;
    max-height: 240px;
  }
  .project-block--projects .project-block__name,
.project-block--best-projects .project-block__name {
    margin: 8px 0;
    font-size: 16px;
  }
  .project-block--projects .project-block__description,
.project-block--best-projects .project-block__description {
    font-size: 12px;
  }
  .project-block--projects .project-block__rating,
.project-block--best-projects .project-block__rating {
    padding: 5px;
  }
  .project-block--projects .project-block__button,
.project-block--best-projects .project-block__button {
    display: none;
  }
}
@media (max-width: 500px) {
  .project-block--projects,
.project-block--best-projects {
    flex-direction: column;
    min-width: 250px;
    max-width: 320px;
  }
  .project-block--projects .project-block__image-wrapper,
.project-block--best-projects .project-block__image-wrapper {
    height: auto;
    margin: 8px;
  }
  .project-block--projects .project-block__image,
.project-block--best-projects .project-block__image {
    width: 100%;
    height: auto;
  }
  .project-block--projects .project-block__content-wrapper,
.project-block--best-projects .project-block__content-wrapper {
    margin: 0 8px 8px;
  }
  .project-block--projects .project-block__text-wrap,
.project-block--best-projects .project-block__text-wrap {
    order: 0;
  }
  .project-block--projects .project-block__name,
.project-block--best-projects .project-block__name {
    margin-top: 0;
    font-size: 16px;
  }
  .project-block--projects .project-block__description,
.project-block--best-projects .project-block__description {
    display: none;
  }
  .project-block--projects .project-block__type-project,
.project-block--best-projects .project-block__type-project {
    order: 1;
  }
  .project-block--projects .project-block__button,
.project-block--best-projects .project-block__button {
    display: none !important;
  }
  .project-block--projects .project-block__type-project,
.project-block--best-projects .project-block__type-project {
    margin-bottom: 0;
    max-height: 40px;
  }
}

.project-block--mobile {
  flex-direction: column;
  flex: 0 0 calc(33.333% - 20px);
  max-width: 360px;
}
.project-block--mobile .project-block__image-wrapper {
  height: auto;
  margin: 8px;
}
.project-block--mobile .project-block__image {
  width: 100%;
  height: auto;
}
.project-block--mobile .project-block__content-wrapper {
  margin: 0 8px 8px;
}
.project-block--mobile .project-block__text-wrap {
  order: 0;
}
.project-block--mobile .project-block__name {
  margin: 0 0 8px;
  font-size: 16px;
}
.project-block--mobile .project-block__description {
  display: none;
}
.project-block--mobile .project-block__type-project {
  order: 1;
  margin: 12px 0;
  font-size: 14px;
}
.project-block--mobile .project-block__button {
  display: none !important;
}
.project-block--mobile .project-block__type-project {
  margin-bottom: 0;
  max-height: 40px;
}
.project-block--mobile .project-block__rating {
  padding: 5px;
  font-size: 18px;
}
.project-block--mobile .project-block__rating .rating__num-reviews {
  font-size: 14px;
}
@media (max-width: 1100px) {
  .project-block--mobile {
    flex: 0 0 calc(50% - 20px);
  }
}
@media (max-width: 1000px) {
  .project-block--mobile {
    flex: 0 0 calc(33.33333% - 20px);
  }
}
@media (max-width: 820px) {
  .project-block--mobile {
    flex: 0 0 calc(50% - 20px);
  }
}
@media (max-width: 540px) {
  .project-block--mobile {
    flex: 0 0 100%;
  }
}

/*# sourceMappingURL=project-block.css.map */
