.projects-list__settings {
  padding: 10px 20px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.select {
  //display: none;
}


.projects-list__view {
  display: flex;
}

.projects-list__view-btn {
  padding: 0;
  box-sizing: border-box;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: 1px solid #e8e8e8;
  background-color: white;

  &:first-child {
    border-right: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  &:last-child {
    border-left: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }

  svg rect {
    fill: #2D4262;
  }
}

.projects-list__view-btn--active {
  background-color: #2D4262;

  svg rect {
    fill: white;
  }
}

.projects-list__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 20px -10px 0;
  display: flex;
  flex-wrap: wrap;
}

#fon {
  display: none;
  position: absolute;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  background-color: white;
}

.projects-list__item {
  margin: 0 10px 20px 10px;
}


@media (max-width: 540px) {
  .projects-list__list {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .projects-list__view {
    display: none;
  }
}


