.login {
  display: none;
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
}

.login--active {
  display: block;
}

.login__window {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 100px auto;
  background-color: white;
  box-shadow: 0 0 10px #000;
  border-radius: 5px;
}

.login__close {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.login__button-close {
  margin: 5px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.login__title {
  margin: 0 0 20px;
  font-size: 24px;
}


.login__form {
  width: 100%;
  padding: 0;
}

.login__field {
  margin-bottom: 30px;
  color: gray;
  font-weight: 500;
}

.login__label-text {
  display: block;
  max-width: 320px;
  margin: 6px auto;
}

.login__input {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  padding: 8px;
  width: 100%;
  max-width: 320px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid gray;
}

.login__button {
  display: block;
  margin: 20px auto 30px;
  color: white;
  border: none;
  box-sizing: content-box;
  outline: none;
  cursor: pointer;
  padding: 10px 40px;
}

@media (max-width: 500px) {
  .login__window {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .login__field {
    margin: 0 10px 30px 10px;
  }
}