html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", "Times New Roman", sans-serif;
  min-width: 320px;
  background-color: aqua;
}

.page-main {
  flex: 1 0 auto;
}

.page-main__section {
  padding: 50px 25px;
}

.section-name {
  margin: 0;
  padding-bottom: 30px;
  font-size: 36px;
}

.page-main__container {
  height: 100%;
}

.project-container {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1200px;
  width: auto;
}

.page-main__wrapper {
  background-color: white;
  height: 100%;
}

@media (max-width: 900px) {
  .project-container {
    padding: 0 15px;
  }

  .page-main__section {
    padding: 50px 18px;
  }

  .section-name {
    font-size: 28px;
  }
}

@media (max-width: 560px) {
  .project-container {
    padding: 0;
  }
}