.project-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.project-wrapper__project-cart {
  flex: 0 0 25%;
  max-width: 25%;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.project-wrapper__project-tabs {
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 15px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .project-wrapper__project-cart {
    padding-right: 10px;
  }

  .project-wrapper__project-tabs {
    padding-left: 10px;
  }
}

@media (max-width: 1000px) {
  .project-wrapper__project-cart {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }

  .project-wrapper__project-tabs {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
  }
}

